<div class="row">
  <div class="col-sm-6">
    <p class="lead text-center">
      Recent Users
    </p>
    <table class="table table-striped table-hover table-condensed">
      <tr>
        <th>Username</th>
        <th>Group</th>
        <th>Full Name</th>
        <th>Total (MB)</th>
      </tr>
      <tr>
        <td>eric</td>
        <td>Max3Days500MB</td>
        <td>Eric Kojo</td>
        <td>250</td>
      </tr>
      <tr>
        <td>rsi391V</td>
        <td>1Gig7Days</td>
        <td>Edward Antwi</td>
        <td>250</td>
      </tr>
      <tr>
        <td>jennings</td>
        <td>Max3Days500MB</td>
        <td>Jennings Kofi</td>
        <td>250</td>
      </tr>
      <tr>
        <td>felix</td>
        <td>Max3Days500MB</td>
        <td>Rexford Nkansah</td>
        <td>250</td>
      </tr>
    </table>
  </div>
  <div class="col-sm-6">
    <p class="lead">
      Quick Add User
      <a [routerLink]="['list']" class="pull-right"><small>Users</small></a>
    </p>
    <form #formData="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="model.fullname" id="fullname" aria-label='fullname' placeholder="Enter Full Name (optional)" name="fullname">
      </div>
      <div class="form-group">
        <div class="input-group">
          <input type="text" class="form-control" [(ngModel)]="model.username" id="username" aria-label='Username' placeholder="Username" name="username" required>
          <div class="input-group-btn">
            <button type="button" class="btn btn-default" (click)="randomUsername(formData)">Random</button>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <input type="text" id="password" [(ngModel)]="model.password" placeholder="Password" aria-label='Password' class="form-control" name="password" required>
          <div class="input-group-btn">
            <a href="javascript:void(0);" class="btn btn-default" (click)="randomPassword()">Random</a>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="profile">Select Group</label>
        <select class="form-control" id="profile" name="model.profile" (ngModel)="model.profile">
          <option>30Gig1Week</option>
          <option>10Gig30Days</option>
        </select>
      </div>
      <div class="form-group">
        <a [routerLink]="['create']" class="btn btn-link">Advanced Add User</a>
        <button type="submit" class="btn btn-primary pull-right" [disabled]='!formData.valid'>Create user</button>
      </div>
    </form>
  </div>
</div>
