<table class="table table-striped table-hover table-condensed">
  <tr>
    <th>Username</th>
    <th>Group</th>
    <th>Full Name</th>
    <th>Total (MB)</th>
    <th>Options</th>
  </tr>
  <tr>
    <td>eric</td>
    <td><a href="#">Max3Days500MB</a></td>
    <td>Eric Kojo</td>
    <td>250</td>
    <td><a href="#" class="">Edit</a> | <a href="#">View</a></td>
  </tr>
  <tr>
    <td>rsi391V</td>
    <td><a href="#">1Gig7Days</a></td>
    <td>Edward Antwi</td>
    <td>250</td>
    <td><a href="#" class="">Edit</a> | <a href="#">View</a></td>
  </tr>
  <tr>
    <td>jennings</td>
    <td><a href="#">Max3Days500MB</a></td>
    <td>Jennings Kofi</td>
    <td>250</td>
    <td><a href="#" class="">Edit</a> | <a href="#">View</a></td>
  </tr>
  <tr>
    <td>felix</td>
    <td><a href="#">Max3Days500MB</a></td>
    <td>Rexford Nkansah</td>
    <td>250</td>
    <td><a href="#" class="">Edit</a> | <a href="#">View</a></td>
  </tr>
</table>
