<div class="row">
  <div class="col-sm-6">
    <p class="lead text-center">
      Recent Users
    </p>
    <table class="table table-striped table-hover table-condensed">
      <tr>
        <th>Username</th>
        <th>Group</th>
        <th>Full Name</th>
        <th>Total (MB)</th>
      </tr>
      <tr>
        <td>eric</td>
        <td>Max3Days500MB</td>
        <td>Eric Kojo</td>
        <td>250</td>
      </tr>
      <tr>
        <td>rsi391V</td>
        <td>1Gig7Days</td>
        <td>Edward Antwi</td>
        <td>250</td>
      </tr>
      <tr>
        <td>jennings</td>
        <td>Max3Days500MB</td>
        <td>Jennings Kofi</td>
        <td>250</td>
      </tr>
      <tr>
        <td>felix</td>
        <td>Max3Days500MB</td>
        <td>Rexford Nkansah</td>
        <td>250</td>
      </tr>
    </table>
  </div>
  <div class="col-sm-6">
    <p class="lead text-center">
      Quick Add User
    </p>
  </div>
</div>
